[Desktop Entry]
Name=Notion
Name[en_US]=Notion
Comment=Unofficial Notion.so application for Linux
Exec="/home/bhavik/Applications/lotion/Lotion/Lotion"
Terminal=false
Categories=Office;TextEditor;Utility
Type=Application
Icon=/home/bhavik/Workspace/config-os/.icons/notion.png
StartupWMClass=Lotion
