[Desktop Entry]
Name=Bitwarden
Comment=Password Manager
Exec="/home/bhavik/Applications/Bitwarden.AppImage" %U
Terminal=false
Type=Application
Icon=/home/bhavik/Workspace/config-os/commons/assets/.icons/bitwarden.png
StartupWMClass=bitwarden
Categories=Office;
TryExec=/home/bhavik/Applications/Bitwarden.AppImage
