# Global Git Config
[user]
	email = bhavik@email.com
	name = bhavik
[pull]
	rebase = false
[core]
	autocrlf = input
	editor = code --new-window --wait
[pager]
	branch = false
[diff]
	tool = vscode-diff
[difftool]
	prompt = false
[difftool "vscode-diff"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode-merge
[mergetool]
	keepBackup = false
[mergetool "vscode-merge"]
	cmd = code --wait $MERGED
[alias]
	st = status
	ss = st --short
	egc = config --global -e
